.money{
  text-align: right;
  font-size: 23px;
  font-weight: bold;
}

.navbar-links{
  background-color: #2196f3 ;
  padding: 10px;
  font-weight: bold;

}

.minus{
  color: #f44336;
}

.pos{
  color: #43a047 ;
}

.navbar-links a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

.navbar-links a:hover{
  background-color:#1e88e5  ;
}