.inputs{
    width: 70%;
    margin: 0 auto;
}

.buttons{
    width: 30%;
    margin: 0 auto;
}

.deposit {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.deposit:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.deposit:active {
	position:relative;
	top:1px;
}

       

.withdraw {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #eb8697 5%, #d60000 100%);
	background-color:#eb8697;
	border-radius:6px;
	border:1px solid #d62f53;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.withdraw:hover {
	background:linear-gradient(to bottom, #d60000 5%, #eb8697 100%);
	background-color:#d60000;
}
.withdraw:active {
	position:relative;
	top:1px;
}


       